.contact {
    background-image: url('../ascerts/contact.jpg');
    width: 100vw;
    height: 90vh;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact:before {
    content: "";
    width: 100vw;
    height: 90vh;
    background-color: black;
    position: absolute;
    opacity: 0.5;
}

.contacttext {
    position: absolute;
    text-align: center;
}

.contacth1 {
    color: rgb(255, 98, 0);
    font-size: 3rem;
}

.contacth2 {
    font-size: 2rem;
}

.contacticons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.contacticon {
    font-size: 2rem;
}