.footer {
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Lily Script One";
}

.footericons {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.footerlogo {
    padding-top: 1rem;
}