.sliderbg {
    width: 90vw;
    margin: 0 auto;
    height: 80vh;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
}

.bg1 {
    background-image: url('../ascerts/Foodimages/1.jpg');
}

.bg2 {
    background-image: url('../ascerts/Foodimages/2.jpg');
}

.bg3 {
    background-image: url('../ascerts/Foodimages/3.jpg');
}

.bg4 {
    background-image: url('../ascerts/Foodimages/4.jpg');
}

.categoryitems {
    width: 100%;
    height: 50vh;
    background-color: black;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catitems {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cateitemimg {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border: 0.5rem solid #8B7528;
    border-radius: 50%;
}

.catwrap {
    width: 90%;
    margin: 0 auto;
    height: 80%;
    background-image: linear-gradient(to right top, #F1CB45, #8B7528);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.promotionimg {
    width: 20%;
    height: 13rem;
    object-fit: cover;
    object-position: center;
}

.proimgs {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 480px) {
    .sliderbg {
        height: 50vh;
    }
    .categoryitems {
        height: 30vh;
    }
    .cateitemimg {
        width: 5rem;
        height: 5rem;
    }
    .catename {
        font-size: 0.8rem;
    }
    .promotionimg {
        height: 9rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .sliderbg {
        height: 50vh;
    }
    .categoryitems {
        height: 30vh;
    }
    .cateitemimg {
        width: 6rem;
        height: 6rem;
    }
    .catename {
        font-size: 1rem;
    }
    .promotionimg {
        height: 9rem;
    }
}